<div id='song_view'>
  <p id='title'>Popular Songs</p>
  <div class='top'>
    <span><button (click)='handleDelete()'>Delete</button></span>
    <span>Songs Per Page:
    <select (change)='handleSelect($event.target.value)'>
      <option>5</option>
      <option selected>10</option>
      <option>20</option>
    </select></span>
    <input class='search_box' type='search' (search)='handleSearch($event.target.value)' onfocus="if (this.value=='search') this.value = ''" value='search' size='25'>
  </div>
  <table class='song_table'>
    <tr>
      <th class='row-checkBox'><input type='checkbox' [checked]='allChecked' 
          (change)='handleChecks($event.target.checked)'></th>
      <th class='row-title'>Title</th>
      <th class='row-artist'>Artist</th>  
      <th class='row-year' (click)='handleSort()'>Year
      <img class='sort_img' [src]='sortImage'></th>
    </tr>
    <tr *ngFor='let song of songs; let i = index'>    
      <td class='center'><input type='checkbox' [(ngModel)]='checks[i]'></td>
      <td class='indent'><a [routerLink]="['../editpage']" [queryParams]="{songid: song.id}">{{song.title}}</a></td>
      <td class='indent'>{{song.artist}}</td>
      <td class='center'>{{song.year}}</td>
    </tr>
  </table>
  <div class='bottom'>
    <span><img src='assets/images/left_arrow.png' [className]="(page == 0) ? 'hide' : ''" (click)='handlePrev()'></span>
    <span class='bottom_center'>Page {{ page + 1 }} of {{ numPages }}</span>
    <span><img src='assets/images/right_arrow.png' [className]="(page == numPages-1) ? 'hide' : ''" (click)='handleNext()'></span>
  </div>
</div>