#song_view {
  width: 800px;  
  margin-left: auto;
  margin-right: auto;  
}

#title {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.top {
  margin-bottom: 10px;
}

.top span {
  margin-right: 15px;
}

.center {
  text-align: center;
}

.search_box {
  background:transparent url("./images/search.png") no-repeat scroll left center;
  margin:0;
  padding-left:18px;
}

.song_table {
  width: 100%;  
  table-layout: fixed;
  border-collapse: collapse;  
}

table, th, td {
  border: 1px solid black;
}

.song_table th {
  text-align: center;
  background-color: #fff;
}

.sort_img {
  float: right;
  line-height: 100%;
  vertical-align: bottom;
  margin-left: -14px;
  margin-right: 8px;  
  margin-top: 3px;
}

.song_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song_table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.song_table tr:nth-child(even) {
  background-color: #fcfcfc;
}

.indent {
  text-indent: 20px;
}

.row-checkBox {
  width: 5%;
}

.row-title {
  width: 50%;
}

.row-artist {
  width: 30%;
}

.row-year {
  width: 15%;
}

.bottom {
  margin-top: 10px;
  text-align: center;  
}

.hide {
  visibility: hidden;
}

.bottom_center {
  display: inline-block;
  line-height: 25px;  
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}