<p id='title'>Edit Song</p>

<!-- Associate the form with a FormGroup -->
<form [formGroup]='group' (ngSubmit)='handleSubmit()'>

<!-- Create a control for each field -->
<div class='center'>
<p>Title: <input formControlName='titleInput'></p>
<p>Artist: <input formControlName='artistInput'></p>
<p>Date: <input formControlName='dateInput'></p>

<!-- Provide error message -->
<div class='error' *ngIf='!group.valid'>All fields are required. The year must be a four-digit number.</div>

<!-- Trigger PUT request to URL -->
<br /><input type='submit' value='Submit' [disabled]='!group.valid'>
</div>
</form>