Input array: <code>[72, 103, -1.6, 17.9, 65, -8.2]</code>
<p><code>array | orderBy</code></p>
<ul>
  <li *ngFor="let element of numArray | orderBy">
    {{ element }}
  </li>
</ul>
<hr>
Input array: <code>[&quot;this&quot;, &quot;array&quot;, &quot;has&quot;, &quot;five&quot;, &quot;words&quot;]</code>
<p><code>array | orderBy : &quot;&#8722;&quot;</code></p>
<ul>
  <li *ngFor="let element of stringArray | orderBy : '-' ">
    {{ element }}
  </li>
</ul>
<hr>
Input array: <code>[&#123;color: &quot;red&quot;, letter: &quot;b&quot;, num: 12&#125;, &#123;color: &quot;yellow&quot;, letter: &quot;c&quot;, num: 25&#125;, &#123;color: &quot;red&quot;, letter: &quot;a&quot;, num: 9&#125;, &#123;color: &quot;green&quot;, letter: &quot;b&quot;, num: 17&#125;]</code>
<p><code>array | orderBy : &quot;-color&quot;</code></p>
<ul>
  <li *ngFor="let element of objArray | orderBy : '-color'">
    {{ element.color }}, {{ element.letter }}, {{ element.num }}
  </li>
</ul>
<hr>
Input array: <code>[&#123;color: &quot;red&quot;, letter: &quot;b&quot;, num: 12&#125;, &#123;color: &quot;yellow&quot;, letter: &quot;c&quot;, num: 25&#125;, &#123;color: &quot;red&quot;, letter: &quot;a&quot;, num: 9&#125;, &#123;color: &quot;green&quot;, letter: &quot;b&quot;, num: 17&#125;]</code>
<p><code>array | orderBy : [&quot;-color&quot;, &quot;+num&quot;]</code></p>
<ul>
  <li *ngFor="let element of objArray | orderBy : ['-color', '+num']">
    {{ element.color }}, {{ element.letter }}, {{ element.num }}
  </li>
</ul>
<hr>
Input array: <code>[&#123;color: &quot;red&quot;, letter: &quot;b&quot;, num: 12&#125;, &#123;color: &quot;yellow&quot;, letter: &quot;c&quot;, num: 25&#125;, &#123;color: &quot;red&quot;, letter: &quot;a&quot;, num: 9&#125;, &#123;color: &quot;green&quot;, letter: &quot;b&quot;, num: 17&#125;]</code>
<p><code>array | orderBy : [&quot;+letter&quot;, &quot;-num&quot;] : true</code></p>
<ul>
  <li *ngFor="let element of objArray | orderBy : ['+letter', '-num'] : true">
    {{ element.color }}, {{ element.letter }}, {{ element.num }}
  </li>
</ul>