<form [formGroup]='mainGroup' (ngSubmit)='handleSubmit()'>

  <div id='top' [formGroup]='topGroup'>
    <div class='left'>
      <div class='entry'>
        Full name: <input formControlName='nameText'>
      </div>
      <div class='entry'>
        Order type: <select formControlName='typeSelect'>
          <option *ngFor='let type of types' [value]='type'>{{type}}</option>
        </select>
      </div>
    </div>
    <div class='right'>
      <div class='entry'>
        Email address: <input formControlName='emailText'><br><br>
      </div>
      <div class='entry cbox'>
        Include 15% Gratuity:<input type='checkbox' formControlName='tipCheck' (change)=changeTip($event.target.checked)>
      </div>
    </div>
    <div class='error' *ngIf='!nameControl.valid'>The name field is required.</div>
    <div class='error' *ngIf='!emailControl.valid'>A valid email address is required.</div>
  </div><br>

  <div id='bottom'>
    <div id='bottom-left' class='left' [formGroup]='menuGroup'>
      <p>Select an Item to Add to Order</p>
      <div class='entry'>
        Appetizers: <select formControlName='appSelect' (input)='addOrderItem($event.target.value)'>
          <option *ngFor='let app of apps' [value]='app'>{{app}}</option>
        </select>
      </div>
      <div class='entry'>
        Soups: <select formControlName='soupSelect' (input)='addOrderItem($event.target.value)'>
          <option *ngFor='let soup of soups' [value]='soup'>{{soup}}</option>
        </select>
      </div>
      <div class='entry'>
        Entr&eacute;e: <select formControlName='mealSelect' (input)='addOrderItem($event.target.value)'>
          <option *ngFor='let meal of meals' [value]='meal'>{{meal}}</option>
        </select>
      </div>
    </div>
    <div id='bottom-right' class='right'>
      <label class='entry'>Current Order: {{ total | number:'1.2-2'}}</label>
      <ul>
        <li *ngFor='let order of orders; let i = index'>
          {{order}} <input type='button' value='Delete' (click)='deleteOrderItem(order, i)'>
        </li>
      </ul>
      <input type='submit' value='Submit' [disabled]='!mainGroup.valid'>
    </div>
  </div>
</form>
