#top, #bottom-left {
  display: inline-block;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fafafa;
}

#bottom {
  text-align:center;
  display: inline-block;
  overflow: hidden;
}

#bottom-right {
  margin-left: 60px;
  display: inline-block;
}

.entry {
  display: block;
  margin: 25px;
}

.cbox {
  margin-top: -20px;
}

#bottom-left .entry {
  margin-top: 50px;
  margin-bottom: 50px;
}

.left {
  float: left;
}

.right {
  overflow: hidden;
}

li {
  text-align: left;
  margin-bottom: 10px;
}

li input {
  margin-left: 10px;
}

.error {
  color: red;
  margin-left: -80px;
  margin-bottom: 10px;
  float: left;
}
